<!doctype html>
<html ng-app="moyenneApp">
<head>
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controllers-c1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta charset="utf-8"/>
</head>
<body ng-controller="MainCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-brand">MoyenneBerekening C1</p>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group" ng-class="{'has-error': error}">
                                <label for="bondsnummer">Bondsnummer: </label>
                                <input type="number" class="form-control" ng-model="selectedPlayer" id="bondsnummer" placeholder="123456">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="fetchPlayer()">Go!</button>
                        </form>
                        <hr/>
                        <span ng-repeat="(id, data) in players"><button type="button" class="btn btn-default" ng-click="setPlayer(data)" ng-class="{'btn-primary': id == fetchedPlayer}">{{ data.name }}</button> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" ng-show="matchloader"><img src="img/loading.gif"/></div>
            <div class="col-md-12 text-center" ng-show="!matches.length && !matchloader && player.id">
                <div class="alert alert-danger" role="alert">Minimaal 1 wedstrijd nodig om berekeningen en voorspellingen te kunnen doen, begin eerst maar eens te biljarten voordat je gaat drukken.</div>
            </div>
            <div class="col-md-12 text-center" ng-show="!matches.length && !matchloader && !player.id">
                <div class="alert alert-info" role="alert">Selecteer een speler</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="matches.length">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Wedstrijden</a></li>
                        <li role="presentation" ng-show="matches.length"><a href="#calculation" aria-controls="calculation" role="tab" data-toggle="tab">Berekening</a></li>
                        <li role="presentation" ng-show="matches.length && player.required"><a href="#prediction" aria-controls="prediction" role="tab" data-toggle="tab">Voorspelling</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="matches">
                            <div class="table-responsive">
                                <table class="table table-condensed table-striped">
                                    <tr>
                                        <th>#</th>
                                        <th>Datum</th>
                                        <th>Tegenstander</th>
                                        <th class="text-right">Tcar</th>
                                        <th class="text-right">car</th>
                                        <th class="text-right">brt</th>
                                        <th class="text-right">moy</th>
                                    </tr>
                                    <tr ng-repeat="(index, match) in matches" class="info">
                                        <th>{{ index + 1 }}</th>
                                        <td>{{ match.datum }}</td>
                                        <td>{{ match.opponent }}</td>
                                        <td class="text-right">{{ match.required }}</td>
                                        <td class="text-right">{{ match.amount }}</td>
                                        <td class="text-right">{{ match.turns }}</td>
                                        <td class="text-right">{{ match.moyenne|number:2 }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="calculation">
                            <div class="panel panel-default" ng-show="calculations.current.amount">
                                <div class="panel-heading">Huidig</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3"><label>Gemaakt:</label> {{ calculations.current['amount'] }}</div>
                                        <div class="col-xs-3"><label>Beurten:</label> {{ calculations.current['turns'] }}</div>
                                        <div class="col-xs-3"><label>Moyenne:</label> {{ calculations.current['moyenne']|number:2 }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr>
                                        <th>#</th>
                                        <th>Te maken</th>
                                        <th>Gemaakt</th>
                                        <th>Beurten</th>
                                        <th class="text-right">Moyenne</th>
                                    </tr>
                                    <tr ng-repeat="match in matchDetails" class="success">
                                        <th>{{ match.order + 1 }}</th>
                                        <td>{{ match.required }}</td>
                                        <td>{{ match.amount }}</td>
                                        <td>{{ match.turns }}</td>
                                        <td class="text-right"><span ng-show="match.usermatch" class="glyphicon glyphicon-pencil"></span> {{ match.moyenne|number:2 }}</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-condensed" ng-show="userMatches.length">
                                    <tr>
                                        <th>#</th>
                                        <th>Gemaakt</th>
                                        <th>Beurten</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="match in userMatches track by $index">
                                        <td>{{ $index + 1 }}</td>
                                        <td><input type="number" class="form-control input-sm" ng-model="userMatches[$index].amount" ng-change="calculateCurrent()"/></td>
                                        <td><input type="number" class="form-control input-sm" ng-model="userMatches[$index].turns" ng-change="calculateCurrent()"/></td>
                                        <td><button type="button" class="btn btn-default btn-sm" ng-click="removeUserMatch($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-inline">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="addUserMatch()">Wedstrijd handmatig toevoegen</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="prediction" ng-show="player.required">
                            <div class="table-responsive" ng-show="calculations.current.amount">
                                <table class="table table-condensed table-striped">
                                    <tr>
                                        <th>Voorwaarde</th>
                                        <th ng-repeat="match in predictions.matches">{{ $index+1 }}e partij</th>
                                        <th>{{ predictions.matches.length+1 }}e partij</th>
                                    </tr>
                                    <tr ng-repeat="turn in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]">
                                        <td>{{ player.required }} in {{ turn+1 }}</td>
                                        <td ng-repeat="match in predictions.matches" ng-class="{'text-muted': predictions.results[$index][turn].status == 'low' || predictions.results[$index][turn].status == 'high', 'info': predictions.results[$index][turn].status == 'mid'}">
                                            {{ predictions.results[$index][turn].moyenne|number:2 }} <button type="submit" ng-class="{'btn-primary': predictions.matches[$index].turns == turn+1}" class="btn btn-default btn-xs" ng-click="setPredictionMatch($index, {required: player.required, amount: player.required, turns: turn+1})"><span class="glyphicon glyphicon-arrow-right"></span></button>
                                        </td>
                                        <td ng-class="{'text-muted': predictions.results[predictions.matches.length][turn].status == 'low' || predictions.results[predictions.matches.length][turn].status == 'high', 'info': predictions.results[predictions.matches.length][turn].status == 'mid'}">
                                            {{ predictions.results[predictions.matches.length][turn].moyenne|number:2 }}
                                            <span ng-show="predictions.matches.length < 11"><button type="submit" class="btn btn-default btn-xs" ng-show="predictions.matches.length < 11" ng-click="setPredictionMatch(predictions.matches.length, {required: player.required, amount: player.required, turns: turn+1})"><span class="glyphicon glyphicon-arrow-right"></span></button></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
