<!doctype html>
<html ng-app="moyenneApp">
<head>
    <script src="js/jquery-2.2.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta charset="utf-8"/>
</head>
<body ng-controller="MainCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-brand">MoyenneBerekening</p>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group" ng-class="{'has-error': error}">
                                <label for="bondsnummer">Bondsnummer: </label>
                                <input type="number" class="form-control" ng-model="player.id" id="bondsnummer" placeholder="123456">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="fetchPlayer()">Go!</button>
                        </form>
                        <hr/>
                        <span ng-repeat="(id, name) in players"><button type="button" class="btn btn-default" ng-click="setPlayer(id)" ng-class="{'btn-primary': id == player.id}">{{ name }}</button> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" ng-show="matchloader"><img src="img/loading.gif"/></div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="matches.length">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Wedstrijden</a></li>
                        <li role="presentation" ng-show="matches.length"><a href="#calculation" aria-controls="calculation" role="tab" data-toggle="tab">Berekening</a></li>
                        <li role="presentation" ng-show="matches.length"><a href="#prediction" aria-controls="prediction" role="tab" data-toggle="tab">Voorspelling</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="matches">
                            <div class="table-responsive">
                                <table class="table table-condensed table-striped">
                                    <tr>
                                        <th>#</th>
                                        <th>Wedstrijd</th>
                                        <th class="text-right">Moyenne</th>
                                    </tr>
                                    <tr ng-repeat="(index, match) in matches" ng-class="{'info': index < 12, 'text-muted': index >= 12}">
                                        <th>{{ index + 1 }}</th>
                                        <td><a target="_blank" href="http://competitie.knbb.nl/carambole4.htm.php?GameID={{ match.gameid }}">{{ match.wedstrijdnummer }}</a></td>
                                        <td class="text-right">{{ match.moyenne|number:2 }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="calculation">
                            <div class="progress" ng-show="progress < 100">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ progress }}%;">{{ progress }}%</div>
                            </div>
                            <div class="panel panel-default" ng-show="calculations.current.amount">
                                <div class="panel-heading">Huidig</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3"><label>Gemaakt:</label> {{ calculations.current['amount'] }}</div>
                                        <div class="col-xs-3"><label>Beurten:</label> {{ calculations.current['turns'] }}</div>
                                        <div class="col-xs-3"><label>Moyenne:</label> {{ calculations.current['moyenne']|number:2 }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr>
                                        <th>#</th>
                                        <th>Te maken</th>
                                        <th>Gemaakt</th>
                                        <th>Beurten</th>
                                        <th class="text-right">Moyenne</th>
                                    </tr>
                                    <tr ng-repeat="match in matchDetails" ng-class="{'text-muted': !match.included, 'danger': !match.included, 'success': match.included, 'warning': match.included == 'pending'}">
                                        <th>{{ match.order + 1 }}</th>
                                        <td>{{ match.required }}</td>
                                        <td>{{ match.amount }}</td>
                                        <td>{{ match.turns }}</td>
                                        <td class="text-right"><span ng-show="match.order == 11" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ match.moyenne|number:2 }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="prediction">
                            <div class="table-responsive">
                                <table class="table table-condensed table-striped">
                                    <tr>
                                        <th>Voorwaarde</th>
                                        <th class="text-right">P.Moyenne</th>
                                        <th class="text-right">Nieuw moyenne</th>
                                    </tr>
                                    <tr ng-repeat="prediction in predictions" ng-class="{'text-muted': prediction.status == 'low' || prediction.status == 'high', 'info': prediction.status == 'mid'}">
                                        <td>{{ prediction.required }} in {{ prediction.turns }}</td>
                                        <td class="text-right">{{ (prediction.required / prediction.turns)|number:2}}</td>
                                        <td class="text-right">{{ prediction.moyenne|number:2 }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
